.row {
  display: flex;
}

.side {
  flex: 20%;
  padding: 10px;
}

td {  
  border: 1px solid #ddd;
  text-align: left;
  padding: 6px;
}

.main {
  flex: 80%;
  padding: 10px;
  border:1 px solid black
}

.clearButton{
    float: right;
}